---
import Card from './Card.astro';
let cards = Astro.props.cards;
---

<div id="carousel" class="w-full h-full py-10 flex items-center lg:justify-center overflow-x-auto">
    <div class="flex flex-row justify-center items-center gap-6 sm:gap-10 lg:gap-16 mx-6">
        {cards.map((card : any) => (
            <Card image={card.image} title={card.title} button={card.button} duration={card.duration} gear={card.gear} description={card.description} price={card.price} />
        ))}
    </div>
</div>

<script is:inline>
    const cards = document.querySelectorAll('.card-content');

    cards.forEach((card) => {
        card.addEventListener('click', (event) => {
            event.stopPropagation();

            cards.forEach((otherCard) => {
                if (otherCard !== card)
                    otherCard.classList.remove('rotate-y-180');
            });

            card.classList.toggle('rotate-y-180');
        });
    });

    document.addEventListener('click', () => {
        cards.forEach((card) => {
            card.classList.remove('rotate-y-180');
        });
    });
</script>