---
import TextParagraph from './TextParagraph.astro';

let { header, subHeader, paragraph1, paragraph2, paragraph3, paragraph4, paragraph5 } = Astro.props;
---

<section id="school" class="mt-20 px-10 xl:px-72 relative">
    <div class="flex flex-col md:flex-row">
        <div class="md:order-last md:w-1/2 md:pl-2 lg:pl-4 text-normal md:text-xl">
            <h2 class="font-stencil font-normal text-7xl w-full text-left"><Fragment set:html={header} /></h2>
            <div class="size-32 bg-teal bg-opacity-50 absolute -top-7 -z-10 md:-ml-20"></div>
            <h3 class="font-stencil font-normal text-4xl text-teal leading-snug w-full my-6"><Fragment set:html={subHeader} /></h3>
            <TextParagraph content={paragraph1} />
            <TextParagraph content={paragraph2} />
            <div class="size-32 bg-teal bg-opacity-30 absolute right-0 -z-10"></div>
        </div>
        <img src="/kiter.webp" alt="kite surfer jumping" loading="lazy" class="-z-20 aspect-4/5 mt-6 md:w-1/2 md:pt-0 md:pr-2 lg:pr-4 max-w-[507px]"/>
    </div>
    <TextParagraph content={paragraph3} />
    <TextParagraph content={paragraph4} />
    <TextParagraph content={paragraph5} />
</section>

<div class="w-full flex justify-center items-center my-10 gap-6">
    <img src="/coni-logo.svg" alt="CONI logo" loading="lazy" class="h-24 lg:h-36"/>
    <img src="/msp-logo.webp" alt="MSP logo" loading="lazy" class="h-24 lg:h-36"/>
</div>

<div class="flex flex-col gap-8 py-10 justify-around items-center w-full bg-black">
    <h3 class="text-white font-jost text-xl lg:text-2xl">I NOSTRI PARTNER UFFICIALI</h3>
    <div class="flex flex-row gap-16 md:gap-32">
        <img src="/duotone-logo.svg" alt="Duotone logo" loading="lazy" class="h-8 lg:h-12"/>
        <img src="/ion-logo.svg" alt="ION logo" loading="lazy" class="h-8 lg:h-12"/>
    </div>
</div>