---
import { Image } from 'astro:assets';
import TextParagraph from './TextParagraph.astro';

import kiterImg from "../assets/content/school.jpg";
import coniImg from "../assets/content/coni-logo.svg";
import mspImg from "../assets/content/msp-logo.webp";
import duotoneImg from "../assets/content/duotone-logo.svg";
import ionImg from "../assets/content/ion-logo.svg";

let { header, subHeader, paragraph1, paragraph2, paragraph3, paragraph4, paragraph5 } = Astro.props;
---

<section id="school" class="mt-20 px-10 xl:px-72 relative">
    <div class="flex flex-col md:flex-row">
        <div class="md:order-last md:w-1/2 md:pl-2 lg:pl-4 text-normal md:text-xl">
            <h2 class="font-stencil font-normal text-7xl w-full text-left"><Fragment set:html={header} /></h2>
            <div class="size-32 bg-teal bg-opacity-50 absolute -top-7 -z-10 md:-ml-20"></div>
            <h3 class="font-stencil font-normal text-4xl text-teal leading-snug w-full my-6"><Fragment set:html={subHeader} /></h3>
            <TextParagraph content={paragraph1} />
            <TextParagraph content={paragraph2} />
            <div class="size-32 bg-teal bg-opacity-30 absolute right-0 -z-10"></div>
        </div>
        <Image src={kiterImg} alt="kite surfer jumping" loading="lazy" class="grayscale-[100] -z-20 aspect-square object-top object-cover mt-6 md:w-1/2 md:pt-0 md:pr-2 lg:pr-4 w-full" />
    </div>
    <TextParagraph content={paragraph3} />
    <TextParagraph content={paragraph4} />
    <TextParagraph content={paragraph5} />
</section>

<div class="w-full flex justify-center items-center my-10 gap-6">
    <Image src={coniImg} alt="CONI logo" loading="lazy" class="h-24 lg:h-36 w-auto"  />
    <Image src={mspImg} alt="MSP logo" loading="lazy" class="h-24 lg:h-36 w-auto" />
</div>

<div class="flex flex-col gap-8 py-10 justify-around items-center w-full bg-black">
    <h3 class="text-white font-jost text-xl lg:text-2xl">I NOSTRI PARTNER UFFICIALI</h3>
    <div class="flex flex-row gap-16 md:gap-32">
        <Image src={duotoneImg} alt="Duotone logo" loading="lazy" class="h-8 lg:h-12 w-auto" />
        <Image src={ionImg} alt="ION logo" loading="lazy" class="h-8 lg:h-12 w-auto" />
    </div>
</div>