---
let { name, image, description, imageOnRight } = Astro.props;
---

<h3 class="md:hidden w-full mt-10 px-10 xl:px-72 font-stencil font-normal text-5xl text-teal leading-snug">{name}</h3>
<div class={`w-full px-10 xl:px-72 flex flex-col md:flex-row items-start gap-6 mt-2 md:mt-12 ${imageOnRight ? 'md:flex-row-reverse' : ''}`}>
    <img src={image} alt={`${name} picture`} loading="lazy" class="w-full aspect-4/5 object-cover -z-20 md:w-1/2"/>
    <div class="container md:w-1/2">
        <h3 class="hidden md:block w-full my-6 font-stencil font-normal text-6xl text-teal leading-snug">{name}</h3>
        <p class="font-jost font-light text-lg lg:text-xl md:!leading-relaxed lg:!leading-loose"><Fragment set:html={description} /></p>
    </div>
</div>