---
import StaffMember from './StaffMember.astro';
import TextParagraph from "./TextParagraph.astro";

let { header, paragraph1, paragraph2, cristianBio, marcoBio, lisaBio } = Astro.props;
---

<section id="who-are-we" class="mt-20 relative overflow-hidden">
    <div class="w-full lg:w-4/6 h-8 bg-teal bg-opacity-70 absolute top-0 lg:right-0 -z-10"></div>
    <div class="w-full lg:w-4/6 h-8 bg-teal bg-opacity-50 absolute top-14 lg:right-0 -z-10"></div>
    <div class="w-full lg:w-4/6 h-8 bg-teal bg-opacity-30 absolute top-28 lg:right-0 -z-10"></div>

    <h2 class="w-full px-10 xl:px-72 font-stencil font-normal text-7xl text-left md:text-left">
        {header}
    </h2>

    <div class="w-full md:px-10 xl:px-72 flex flex-col items-center gap-2 md:flex-row mt-6 md:mt-0">
        <div class="md:w-1/3 px-10 md:px-0 font-jost font-light text-lg lg:text-xl md:!leading-relaxed lg:!leading-loose">
            <TextParagraph content={paragraph1} />
            <TextParagraph content={paragraph2} />
        </div>
        <img src="/src/assets/content/team.webp" alt="kite surfer jumping" loading="lazy" class="md:w-2/3 -z-20 aspect-video object-cover grayscale-[100] lg:pr-4 max-w-[685x]"/>
    </div>

    <div class="size-24 md:size-32 bg-teal bg-opacity-40 absolute right-10 md:right-1/2 -mt-12 -z-10"></div>

    <StaffMember name="CRISTIAN" image="/src/assets/content/cristian.webp" description={cristianBio} />

    <div class="w-2/5 h-24 md:h-32 bg-teal bg-opacity-60 mt-4 md:mt-10 -z-10"></div>

    <StaffMember name="MARCO" image="/src/assets/content/lisa.webp" imageOnRight={true} description={marcoBio} />

    <div class="h-24 md:h-32 mt-4 md:mt-10 flex flex-row justify-end gap-6">
        <span class="w-3 md:w-10 h-full bg-teal bg-opacity-60"></span>
        <span class="w-3 md:w-10 h-full bg-teal bg-opacity-60"></span>
        <span class="w-10 md:w-20 h-full bg-teal bg-opacity-60"></span>
        <span class="w-10 md:w-20 h-full bg-teal bg-opacity-60"></span>
        <span class="w-2/5 h-full bg-teal bg-opacity-60"></span>
    </div>

    <StaffMember name="LISA" image="/src/assets/content/lisa.webp" description={lisaBio} />

    <div class="px-10 xl:px-72 mt-4 md:mt-10 flex flex-col md:flex-row gap-10 md:gap-40">
        <div class="relative w-2/3 md:w-1/2">
            <span class="absolute top-0 -right-16 md:right-auto md:-left-16 size-24 md:size-32 bg-teal bg-opacity-60"></span>
            <h3 class="w-full md:text-right font-stencil font-normal text-4xl text-teal leading-snug">BLANCO</h3>
            <img src="/src/assets/content/blanco.webp" alt="kite surfer jumping" loading="lazy" class="w-full aspect-4/3 object-cover grayscale-[100]"/>
        </div>
        <div class="relative w-2/3 md:w-1/2 self-end">
            <span class="absolute top-0 -left-16 md:left-auto md:-right-16 size-24 md:size-32 bg-teal bg-opacity-60"></span>
            <h3 class="w-full text-right md:text-left font-stencil font-normal text-4xl text-teal leading-snug">LEA</h3>
            <img src="/src/assets/content/lea.webp" alt="kite surfer jumping" loading="lazy" class="w-full aspect-4/3 object-cover grayscale-[100]"/>
        </div>
    </div>
</section>